
body {
  height: auto;
  width: 100%;
  
  color: #000;
  background: rgb(116,180,180);
}
.row .col{
  background: rgb(116,180,180);

}

.navbar{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
}
.footer img{
  height: auto;
  width: 100%;
}
.header1{
  color: #000;

}
.heading
{
  margin-top: 60px;
  background-color: transparent;
}
.row img
{
  width: 100%;
  height: auto;
}

.container .row img:hover{
  background-color: rgb(100, 67, 67);
}

.contact
{
  background-color: rgb(76,80,87);
}

.row{
  background-color: rgb(255, 255, 255);
}



